/* start: FOOTER */
footer{
	// border-top: 1px solid $black-bg;
	-webkit-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
	font-family: $font-stack2;
	background: url('../img/poster/foot-pallette.jpg') center bottom repeat-x,url('../img/poster/footer-bg.png') center bottom no-repeat,$footer-bg;
	clear: both;
	position: relative;
	behavior: url(PIE/PIE.htc);
	zoom: 1;
	@media only screen and (max-width:660px){
		border:0;
	}
	.wrapper{
		width: 1000px;
		margin: 0 auto;
		@media only screen and (max-width: 1000px) {
			width: 96%;
			margin-right: 2%;
			margin-left: 2%;
		}
		@media only screen and (max-width: 660px) {
			width: 100%;
			margin: 0;
		}
		&:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}
		p{
			&.ttl{
				text-align: center;
				text-transform: uppercase;
				font-family: $font-stack1;
				font-size: 1em;
				font-size: 1rem;
				color: $black-text;
				@media only screen and (max-width: 1000px) {display: none;}
			}
		}
		.label-list{
			text-align: center;
			padding-top: 60px;
			@media only screen and (max-width: 1000px) {padding-top: 35px;}
			@media only screen and (max-width: 660px) {display: none;}
			li{
				margin: 0 45px;
				display: inline-block;
				@media only screen and (max-width: 1000px) {
					margin: 0 3%;
				}
				@media only screen and (max-width: 800px) {
					margin: 0 1%;
				}
				a{
					display: block;
					background-image:url('../img/poster/labels/lab-sprite.png');
					background-repeat: no-repeat;
					&.label-img1{background-position: -1px 0;width: 186px;height: 26px;}
					&.label-img2{background-position: -2px -28px;width: 114px;height: 20px;}
					&.label-img3{background-position: -1px -54px;width: 139px;height: 20px;}
					&.label-img4{background-position: -1px -81px;width: 102px;height: 18px;}
				}
			}
		}
		.info-layer-wrap{
			@media only screen and (max-width: 800px) {
				width: 66%;
				float: left;
			}
			@media only screen and (max-width: 660px) {
				width: 100%;
			}
		}
		.tool-img-wrap{
			display: none;
			width: 191px;
			height: 183px;
			background: url('../img/poster/labels/lab-sprite.png') -195px bottom no-repeat;
			@media only screen and (max-width: 800px) {
				display: block;
				width: 33%;
				float: right;
				padding-top: 100px;
			}
			@media only screen and (max-width: 660px) {display: none;}
			&:after{
				display: table;
				content: "";
				clear: both;
			}
			img{
				background-size: cover;
				@media only screen and (max-width: 600px) {
					width: 100%;
				}
			}
		}
		.bottom-info-layer{
			@media only screen and (max-width: 660px) {display: none;}
		}
		.bot-inf-mob,
		.bottom-info-layer{
			@include box-sizing (border-box);
			float: left;
			width: 21%;
			margin-right: 4%;
			padding-top: 45px;
			@media only screen and (max-width: 800px) {
				margin-right: 4%;
				width: 45%;
				padding-top: 20px;
				&:nth-child(2n){
					margin-right: 0;
				}
			}
			@media only screen and (max-width: 660px) {
				width: 100%;
				margin-right: 0;
				padding-top: 0;
			}
			&:last-child{
				margin-right: 0;
			}
			p{
				font-family: $font-stack2;
				font-size: .86em;
				font-size: .86rem;
				color: $very-light-grey;
				line-height: 1.5;
				&.title{
					margin-top: 0;
					font-family: $font-stack1;
					font-size: 1em;
					font-size: 1rem;
					color: $light-red;
					padding: 15px 0;
					border-bottom: 1px solid $grey-border;
					margin-bottom: 16px;
					@media only screen and (max-width: 660px) {
						border-bottom: 0;
						border-top: 1px solid $grey-border;
						margin: 0;
						padding: 15px 2%;
						font-size: 1.17em;
						font-size: 1.17rem;
						position: relative;
						&:after{
							position: absolute;
							content: "+";
							font-size: 1.2em;
							font-size: 1.2rem;
							right: 25px;
							top: 15px;
						}
						&.current{
							&:after{
								content: "-";
							}
						}
					}
				}
			}
			.accord-for-mobile{
				display: block;
				width: 96%;
				margin-right: 2%;
				margin-left: 2%;
				padding-bottom: 15px;
				@media only screen and (max-width: 660px) {display: none;}
			}
			ul{
				li{
					a{
						font-family: $font-stack2;
						font-size: .86em;
						font-size: .86rem;
						color: $white-text;
						line-height: 2;
					}
				}
				&.foot-nav{
					li{
						a{
							color: $grey-text;
							&:hover{
								text-decoration: none;
								color: $light-red;
								@media only screen and (min-width: 1000px) {
									color: $grey-text;
								}
							}
							@media only screen and (max-width: 660px) {
								font-size: 1rem;
							}
						}
					}
				}
				&.foot-soc{
					padding-top: 23px;
					li{
						display: inline-block;
						margin-right: 5px;
						a{
							display: block;
							width: 32px;
							height: 32px;
							background-image: url(../img/poster/social/soc-sprite1.png);
							background-repeat: no-repeat;
							&.gp{background-position: 0 0;}
							&.tw{background-position: -33px 0;}
							&.pb{background-position: -66px 0;}
							&.fb{background-position: -99px 0;}
							&:hover{
									&.gp{background-position: 0 -33px;}
									&.tw{background-position: -33px -33px;}
									&.pb{background-position: -66px -33px;}
									&.fb{background-position: -99px -33px;}
								@media only screen and (min-width: 1000px) {
									&.gp{background-position: 0 0;}
									&.tw{background-position: -33px 0;}
									&.pb{background-position: -66px 0;}
									&.fb{background-position: -99px 0;}
								}
							}
						}
					}
				}
			}
			.tweet-one{
				padding-left: 24px;
				position: relative;
				.twt{
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 15px;
					height: 13px;
					background: url(../img/poster/social/soc-sprite1.png) -149px 0px no-repeat;
				}
				p{
					color: $grey-text;
					font-size: .86em;
					font-size: .86rem;
					&.tweet-mail{
						color: $very-light-grey;
						font-size: .71em;
						font-size: .71rem;
						margin-bottom: 7px;
						span{
							&.tweet-date{
								position: relative;
								margin-left: 10px;
								&:before{
									position: absolute;
									content: '';
									width: 3px;
									height: 3px;
									border-radius: 50%;
									behavior: url(PIE/PIE.htc);
									zoom: 1;
									background:$very-light-grey;
									left: -7px;
									top: 6px;
								}
							}
						}
					}
					a{color: $light-red;}
				}
			}
		}
		&.foot-bot-layer{
			padding: 0 0 5px;
			position: relative;
			top: -15px;
			@media only screen and (max-width: 1000px) {
				top: 0;
				padding: 30px 0;
			}
			@media only screen and (max-width: 660px) {
				padding: 15px 0;
				border-top: 1px solid $grey-border;
			}
			.copyright{
				float: left;
				padding-top: 110px;
				@media only screen and (max-width: 1000px) {
					padding-top: 20px;
				}
				@media only screen and (max-width: 660px) {
					padding: 0 2%;
				}
				li{
					display: inline-block;
					font-size: .71em;
					font-size: .71rem;
					color: $very-light-grey;
					padding: 0 10px;
					border-right:1px solid $very-light-grey;
					@media only screen and (max-width: 660px) {
						display: block;
						border:0;
						padding: 5px 0;
						font-size: .86em;
						font-size: .86rem;
					}
					&:first-child{
						padding-left: 0;
					}
					&:last-child{
						border-right: 0;
						color: $black-text;
					}
				}
			}
			.foot-image{
				float: right;
				@media only screen and (max-width: 660px) {display: none;}
				li{
					margin-left: 28px;
					display: inline-table;
					vertical-align: bottom;
					background-image: url('../img/poster/labels/lab-sprite.png');
					background-repeat: no-repeat;
					&.tool-wrap{
						width: 191px;
						height: 183px;
						background-position: -195px 0;
						@media only screen and (max-width: 1000px) {display: none;}
					}
					&.foot-lab-img1{
						width: 60px;
						height: 43px;
						background-position: -2px -105px;
						margin-bottom: 45px;
						@media only screen and (max-width: 1000px) {margin: 0;}
					}
					&.foot-lab-img2{
						width: 52px;
						height: 46px;
						background-position: -68px -103px;
						margin-bottom: 45px;
						@media only screen and (max-width: 1000px) {margin: 0;}

					}
				}
			}
		}
	}
}
/* end: FOOTER */