/* Variables */

/** Colors **/
$white-text: #ffffff;
$white-bg: #ffffff;
$grey-bg: #7b7b7b;
$red-bg: #cf2200;
$light-red: #c92100;
$light-grey: #bfbfbf;
$very-light-grey: #a9a9a9;
$lightest-grey: #f7f7f7;

$grey-white-bg: #f3f3f3;

$grey-white-hover: #f0f0f0;

$dark-grey-text: #353535;

$black-light-text: #666666;

$black-text: #000000;
$black-bg: #000000;

$black-light-bg: #252525;

$layer1-bg: #56737e;
$layer2-bg: #e2574c;
$layer3-bg: #3cae9a;

$spec-text: #6d6d6d;
$spec-text2: #939393;

$mob-poster-divider: #e1e1e1;
$tab-menu-list-border: #d8d8d8;
$quest-border: #e6e6e6;
$dotted-border: #5b5b5b;
$accord-border: #e7e7e7;