@import "fonts.scss";
@import "variables.scss";
@import "reset.scss";
@import "mixins.scss";


.jspDrag {
	background:$white-grey;
}
body{
	// overflow-x:hidden;
}
.mobile-wrap{
	zoom: 1;
}
.search-click{display: none;}

.head-ban{
	p{
		.mob-arrow{display: none !important;}
	}
}
header{
	.wrapper{
		.logo-txt{
			background:transparent url('../img/ie-logo-link-bg.png') center top no-repeat;
			width: 205px !important;
			height: 28px !important;
			margin-left: -102px;
			&:before,
			&:after{
				width: 0 !important;
				height: 0 !important;
				background-color: transparent !important;
			}
		}
		.profile-block{
			> li{
				&.notif{
					#notif-button{
						.count{
							behavior: url(PIE/PIE.htc);
							zoom: 1;
						}
					}
					&:hover{
						.count{
							// behavior: url(PIE/PIE.htc);
							// zoom: 1;
						}
						#notif-list-wrap{
							// z-index: 100;
						}
					}
					#notif-list-wrap{
						outline:1px solid $white-grey;
						&:before{
							border:13px solid $grey-white-hover;
							border-top-color:transparent;
							border-right-color:transparent;
							border-left-color:transparent;
							width: 0 !important;
							height: 0 !important;
							background:transparent !important;
							top: -25px !important;
							box-shadow: 0 0 0 transparent;
							-webkit-box-shadow: 0 0 0 transparent;
						}
						&:after{
							width: 0 !important;
							height: 0 !important;
							background:transparent !important;
							border:13px solid $white-bg;
							border-top-color:transparent;
							border-right-color:transparent;
							border-left-color:transparent;
							right: 10px !important;
							top: -24px !important;
						}
						p{
							&.title{
								border-bottom: 1px solid $white-grey;
							}
						}
						#notif-list{
							li{
								.some-action{
									li{
										&.not-read{
											.head-com-block{
												left: -145px !important;
											}
										}
										&.not-close{
											.head-com-block{
												left: -95px !important;
											}
										}
									}
								}
							}
						}
					}
				}
				&.avatar{
					&.log-in{
						&:hover{
							cursor: pointer;
							background:$red-bg;
							border-color: $red-border;
							p{color:$white-text}
							.profile-list{
								// z-index: 100;
								li{
									background:$white-bg;
									a{
										&:hover{
											color:$light-red;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.head-right{
			.search-wrap{
				.search-form{
					input[type="text"] {
						height: 20px;
					}
				}
			}
			#menu-button{
				&:hover{
					+.menu-list{
						display: block !important;
					}
				}
			}
		}
	}
}
.sidebar{
	.side-panel{
		.popular-link{
			li{
				a{
					&:hover{
						&:before{
							border-left-color:$black-bg;
						}
					}
					&:before,
					&:after{
						position: absolute;
						top: 8px;
						content: "";
						width: 0 !important;
						height: 0 !important;
						border:5px solid $white-bg;
						border-top-color: transparent;
						border-right: 5px solid transparent !important;
						border-bottom-color: transparent;
					}
					&:before{
						left: -15px;
					}
					&:after{
						left: -16px;
						border-left-color: $layer1-bg;
					}
				}
			}
		}
	}
}
.content{
	.create-own{
		.comment-block{
			.mobile-comment{
				display: none;
			}
		}
	}
	.topics-open{
		.tabs{
			.tab-content{
				.section{
					.keep-calm-ban{
						&.ban-image04{background: url(../img/media/ie/image04.png) top center no-repeat;}
						&.ban-image09{background: url(../img/media/ie/image09.png) top center no-repeat;}
						&.ban-image12{background: url(../img/media/ie/image12.png) top center no-repeat;}
						&.ban-image13{background: url(../img/media/ie/image13.png) top center no-repeat;}
						&.ban-image14{background: url(../img/media/ie/image14.png) top center no-repeat;}
						&.ban-image15{background: url(../img/media/ie/image15.png) top center no-repeat;}
						&.ban-image16{background: url(../img/media/ie/image16.png) top center no-repeat;}
						&.ban-image17{background: url(../img/media/ie/image17.png) top center no-repeat;}
						&.ban-image18{background: url(../img/media/ie/image18.png) top center no-repeat;}
						&.ban-image19{background: url(../img/media/ie/image19.png) top center no-repeat;}
						&.ban-image21{background: url(../img/media/ie/image21.png) top center no-repeat;}
						&.ban-image23{background: url(../img/media/ie/image23.png) top center no-repeat;}
						&.ban-image25{background: url(../img/media/ie/image25.png) top center no-repeat;}
						&.ban-image27{background: url(../img/media/ie/image27.png) top center no-repeat;}
						&.ban-image28{background: url(../img/media/ie/image28.png) top center no-repeat;}
						&.ban-image29{background: url(../img/media/ie/image29.png) top center no-repeat;}
						&.ban-image30{background: url(../img/media/ie/image30.png) top center no-repeat;}
						&.ban-image31{background: url(../img/media/ie/image31.png) top center no-repeat;}
						&.ban-image32{background: url(../img/media/ie/image32.png) top center no-repeat;}
						&.ban-image33{background: url(../img/media/ie/image33.png) top center no-repeat;}
						&.ban-image34{background: url(../img/media/ie/image34.png) top center no-repeat;}
						&.ban-image35{background: url(../img/media/ie/image35.png) top center no-repeat;}
						&.ban-image36{background: url(../img/media/ie/image36.png) top center no-repeat;}
						&.ban-image37{background: url(../img/media/ie/image37.png) top center no-repeat;}
						&.ban-image38{background: url(../img/media/ie/image38.png) top center no-repeat;}
					}
				}
			}
		}
	}
}
.content-poster{
	&.tabs-menu{
		li{
			&.current{
				a{
					&:before{
						position: absolute;
						content: "";
						border: 11px solid $white-light-grey;
						border-right-color: transparent;
						border-bottom-color: transparent;
						border-left-color: transparent;
						bottom: -22px;
						left: 50%;
						margin-left: -8px;
					}
					&:after{
						background: transparent !important;
						width: 0 !important;
						height: 0 !important;
						position: absolute;
						content: "";
						border: 10px solid $white-bg;
						border-right-color: transparent;
						border-bottom-color: transparent;
						border-left-color: transparent;
						bottom: -20px !important;
						left: 50%;
						margin-left: -7px;
					}
				}
			}
		}
	}
}
.tabs{
	.tab-content{
		h3.section{
			&:before,
			&:after{
				position: absolute;
				top: 50%;
				margin-top: -7px !important;
				content: "";
				width: 0 !important;
				height: 0 !important;
				border-width: 8px !important;
				border-style: solid;
				border-left-color: $black-bg;
				border-top-color: transparent !important;
				border-right-color: transparent !important;
				border-bottom-color: transparent;
			}
			&:before{
				right: 20px;
			}
			&:after{
				right: 21px !important;
				border-left-color: $lightest-grey;
			}
			&.current{
				&:before,
				&:after{
					right: 25px !important;
					margin-top: -5px !important;
					border-top-color: $black-bg !important;
					border-left-color: transparent !important;
					border-right-color: transparent !important;
					border-bottom-color: transparent;
				}
				&:after{
					margin-top: -6px !important;
					border-top-color: $lightest-grey !important;
				}
			}
		}
	}
}

footer{
	// background-color:$footer-bg;
	background: $footer-bg url('../img/poster/foot-pallette.jpg') center bottom repeat-x;

	.foot-bot-layer{
		
	}
}